/*---------------------NavBar------------------------------*/

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 4;
}


.navbar-bg {
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-bg.scrolled {
    background-color: #0f0f0f !important;
    transition: background-color 200ms linear;

}

.nav-item a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 15px;
}

.nav-toggler-button {
    color: #f2f2f2;
    font-size: 27px;
}



/*---------------------/NavBar-----------------------------*/

/*------------------------Landing Page---------------------------------*/

.landing-page-background {
    background: url(/assets/images/landing-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;

}

.background-alpha-04 {
    background: rgba(0, 0, 0, 0.4) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    position: relative;


}

.logo {
    height: 30px;
    width: auto;
}

.headers-wrapper {
    color: #f2f2f2;
    height: 100%;
    margin: 0;

}



.continue-wrapper {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    width: 100%;
    color: #f2f2f2;
    font-size: 20px;
}

.continue-wrapper p {
    margin: 0;
}



.continue-wrapper p i {
    padding-left: 10px;
    padding-right: 10px;
}



/*------------------------/Landing Page--------------------------------*/

/*------------------------Portfolio--------------------------------*/

.portfolio-bg {
    background: url(/assets/images/portfolio-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.background-alpha-02 {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: relative;
}

.imglist {
    text-align: center;
}

.imglist a img {
    margin: 45px 30px;
}

/*------------------------/Portfolio--------------------------------*/

/*------------------------Testimonials------------------------------*/

.testimonials-bg {
    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
}

.testimonial-img {
    border-radius: 50%;
    padding: 0;
    border: solid 2px #3a3a3a;
    height: 160px;
    width: 150px;
    position: relative;
}




/*------------------------Bio---------------------------------*/

.bio-container {
    background-image: linear-gradient(to bottom right, #0f0f0f, #a8253a);

}

#tj-bio-pic {
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.bio-text {
    color: #d4d4d4;
    font-family: 'PT Serif', serif;

}

/*------------------------/Bio---------------------------------*/

/*-----------------------------FAQ-----------------------*/

.faq-container {
    text-align: center;
    margin: 0;
    padding: 0;
}



.faq-bg {
    background-color: #f9f7f7;
    margin: 0;
}

.question-container {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0;
}


.faq-question {
    text-align: left;
    background-color: #e8e6e6;
    color: Black;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: #a8253a;
    margin: 0;
    font-weight: 400;
}

.faq-answer {
    text-align: left;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: #bcbcbc;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}


.span-question {
    color: #a8253a;
    font-size: 40px;
    padding-right: 16px;
    padding-left: 5px;
    font-weight: 300;
    display: inline;
    position: relative;
}

.span-answer {
    color: #bcbcbc;
    font-size: 40px;
    padding-right: 16px;
    padding-left: 5px;
    display: inline;
    position: relative;
}


.block-divider-faq {
    width: 100%;
    height: 3px;
    border: 0;
    background-color: #898989;
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


/*-----------------------------/FAQ----------------------*/

/*-----------------------------Contact-------------------*/

.contact-bg {
    background: url(/assets/images/contact-gb.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#form-style {
    margin-top: 115px;
    padding-left: 0;
    padding-right: 50px;
}

.form-element-style {
    background-color: #e8e6e6;
    border: solid #8d5510 2px;
}

#exampleFormControlFile1 {
    padding: 0
}

/*-----------------------------------Locatio & Hours---------------------*/

.location-bg {
    background-color: #151414;
}

.maps {
    padding-left: 8.333333%;
    padding-right: 8.333333%;
    margin-bottom: 50px;
    width: 100%;
    max-height: 350px;
}

.location-wrapper {
    margin-top: 0px;
    padding-top: 25px;
}

.location-text {
    color: #a8253a;
    font-family: 'PT Serif', serif;
}

.header-location {
    font-family: 'Crimson Text', serif;
    color: #c5c5c5;
}

.block-divider-location {
    width: 100%;
    height: 3px;
    border: 0;
    background-color: #a8253a;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;

    padding-left: 0px;
}

/*-----------------------------Misc----------------------*/

.header {
    padding-top: 10px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.header-white {
    color: #d4d4d4;
}

.header-black {
    color: #303030;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}



.row {
    margin: 0;
    padding: 0;
}


.padding-15 {
    padding-left: 15px;

}

.text-yellow {
    color: #8d5510;
}



/*------------------------------Media Queries----------------*/

@media (max-width: 768px) {

    .contact-bg {
        background-image: linear-gradient(to bottom right, #000000, #2e2d2d);
    }

    #form-style {
        padding: 0;
        margin-top: 100;
    }


    .faq-question {
        font-size: 1.25rem;
    }
    .faq-answer {
        font-size: 15px;
    }

    .location-wrapper {
        padding-top: 100px;
        padding-bottom: 10;
    }

    #tj-bio-pic {
        border-radius: 50%;
    }

}






@media (min-height: 1200px) {


    .contact-bg {
        height: 35vh;
        background-image: linear-gradient(to bottom right, #000000, #2e2d2d);

    }



    .landing-page-background {
        height: 60vh;
    }

    .background-alpha-04 {
        height: 60vh;
    }
}
